$p-font: san-serif;
$p-color: white;
$p-pink: #b01e4c;
$p-purple: #201133;
$p-purple-dark: #120a1d;
$jumbo-bg-color: hsla(266, 50%, 13%, 0.5);

// default setup size variable //

$p-size-sm: 576px;
$p-size-md: 768px;
$p-size-lg: 992px;
$p-size-xl: 1200px;

// other variable //

$p-global-transition: 0.4s;

// ================================ //
// ovveride default bootstrap value //
// ================================ //

$body-bg: $p-purple-dark;

$theme-colors: (
  "primary": $p-pink,
  "secondary": $p-purple,
  "secondary-dark": $p-purple-dark
) !default;


// Bootstrap and its default variables
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
// BootstrapVue and its default variables
@import '../../node_modules/bootstrap-vue/src/index.scss';

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
	font-family: 'Nunito', Arial, san-serif;
	font-size: 14px;
	color: white;
}

a {
	&:hover {
		text-decoration: none;
	}
}

.card {
	max-width: 180px;
	margin-bottom: 15px;
}

.movie-content {
	padding-top: 40px;
	padding-bottom: 30px;
}

.content-purple {
	background-color: $p-purple;
	width: 100%;
}

.content-services {
	position: relative;
	max-width: 320px;
	border: 1px solid $p-purple;
	padding: 10px;
}

.content-services > small::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background: $p-pink;
    top: -5px;
    left: -5px;

}